<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Review</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="reviewerName">Reviewer's Name</label>
      <textarea id="reviewerName" rows="2" name="reviewerName" [(ngModel)]="review.reviewerName" required></textarea>
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" rows="10" name="content" required [(ngModel)]="review.comment"></textarea>
    </div>
    <div>
      <label for="rating">Rating</label>
      <div class="star-rating">
        <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="review.rating"/>
        <label for="star5" title="5 stars">★</label>
        <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="review.rating"/>
        <label for="star4" title="4 stars">★</label>
        <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="review.rating"/>
        <label for="star3" title="3 stars">★</label>
        <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="review.rating"/>
        <label for="star2" title="2 stars">★</label>
        <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="review.rating"/>
        <label for="star1" title="1 star">★</label>
      </div>
    </div>
    <div class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </div>
  </form>
</dialog>
